<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product List</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<style>
body {
	background-color: #f0b5e0;
	background-image: linear-gradient(245deg, #f0b5e0 15%, #A9C9FF 81%, #ffffff 93%);
	font-size: 18px;
}
</style>
</head>
<body>
	<header th:insert="layout.html :: header"></header>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="text-center">Product List</h1>
				<div sec:authorize="hasAnyAuthority('CREATER', 'ADMIN')"
					style="text-align: center; margin-top: 20px;">
					<a class="btn btn-primary mb-2" href="/products/create">Create
						New Product</a>
				</div>
				<br />
				<form class="mb-3"
					th:action="@{/products/page/__${currentPage}__?sortField=id&amp;sortType=asc}">
					<div class="input-group">
						<input type="text" class="form-control" name="keyword"
							id="keyword" th:value="${keyword}" placeholder="Filter" required />
						<button type="submit" class="btn btn-primary">Search</button>
						<button type="button" class="btn btn-secondary" id="btnClear"
							onclick="clearSearch()">Clear</button>
					</div>
				</form>

				<div class="row justify-content-center text-center">


					<div class="d-flex justify-content-evenly">
						<tr>
							<th><a class="btn btn-light"
								th:href="@{'/products/page/' + ${currentPage} + '?sortField=id&sortType=' + ${reverseSortType}}">Product
									ID</a></th>
							<th><a class="btn btn-light"
								th:href="@{'/products/page/' + ${currentPage} + '?sortField=brand&sortType=' + ${reverseSortType}}">Brand</a></th>
							<th><a class="btn btn-light"
								th:href="@{'/products/page/' + ${currentPage} + '?sortField=name&sortType=' + ${reverseSortType}}">Name</a></th>
							<th><a class="btn btn-light"
								th:href="@{'/products/page/' + ${currentPage} + '?sortField=price&sortType=' + ${reverseSortType}}">Price</a></th>
						</tr>
					</div>


					<div th:each="product: ${products}"
						class="col-6 col-md-4 col-lg-3 col-xl-3 mt-4">
						<div
							class="bg-white rounded-lg shadow-lg text-center d-flex flex-column justify-content-between"
							style="border-radius: 20px; height: 100%;">
							<div style="position: relative; padding-bottom: 100%;">
								<img class="img-thumbnail rounded"
									th:src="@{${product.imageUrl}}" alt="Product Image"
									style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; object-fit: cover; width: 100%; height: 100%; border-radius: 20px;" />
							</div>

							<div class="p-2 mb-2">

								<div>
									<span th:text="${product.brand}">Brand</span>
								</div>
								<div>
									<span th:text="${product.name}">Name</span>
								</div>
								<div>
									<span th:text="${product.price}">Price</span>
								</div>
							</div>
							<div class="d-flex justify-content-around align-items-center">
								<div sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')"
									class="mb-2">
									<a class="btn btn-sm btn-primary"
										th:href="@{'/products/edit/'+${product.id}}"
										style="padding: 10px;">Edit</a>
								</div>
								<div sec:authorize="hasAuthority('ADMIN')" class="mb-2">
									<a class="btn btn-sm btn-danger"
										th:href="@{'/products/delete/'+${product.id}}"
										style="padding: 10px;">Delete</a>
								</div>
							</div>

							<form class="mt-auto" th:action="@{/cart/add}" method="post"
								style="margin: 0 20px 0 20px">
								<input type="hidden" name="productId" th:value="${product.id}" />
								<select class="form-select mb-2" name="sizeId">
									<option th:each="size : ${product.sizes}" th:value="${size.id}"
										th:text="${size.name}"></option>
								</select> <input type="hidden" name="selectedSize" value="" />
								<button type="submit" class="btn btn-sm btn-danger mt-2 mb-4"
									style="padding: 10px;">Add to Cart</button>
							</form>


						</div>
					</div>
				</div>




				<div class="text-center mt-4">
					<h5>
						Total Items: <span th:text="${totalItems}" id="total-items">0</span>
					</h5>
					<a th:if="${currentPage > 1}" class="btn btn-secondary"
						th:href="@{'/products/page/1?sortField='+${sortField}+'&amp;sortType=' + ${sortType}}"
						id="first-page-link">First</a> <span
						th:unless="${currentPage > 1}" id="first-page-span">First</span> <a
						th:if="${currentPage > 1}" class="btn btn-secondary"
						th:href="@{'/products/page/' + ${currentPage - 1}+ '?sortField='+${sortField}+'&amp;sortType=' + ${sortType}}"
						id="previous-page-link">Previous</a> <span
						th:unless="${currentPage > 1}" id="previous-page-span">Previous</span>
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}" class="btn btn-secondary"
						th:href="@{'/products/page/' + ${i}+ '?sortField='+${sortField}+'&amp;sortType=' + ${sortType}}"
						th:text="${i}" id="page-link"></a> <span
						th:unless="${currentPage != i}" th:text="${i}"
						id="current-page-span"></span>&nbsp;
					</span> <a th:if="${currentPage < totalPages}" class="btn btn-secondary"
						th:href="@{'/products/page/' + ${currentPage + 1}+ '?sortField='+${sortField}+'&amp;sortType=' + ${sortType}}"
						id="next-page-link">Next</a> <span
						th:unless="${currentPage < totalPages}" id="next-page-span">Next</span>
					<a th:if="${currentPage < totalPages}" class="btn btn-secondary"
						th:href="@{'/products/page/' + ${totalPages}+ '?sortField='+${sortField}+'&amp;sortType=' + ${sortType}}"
						id="last-page-link">Last</a> <span
						th:unless="${currentPage < totalPages}" id="last-page-span">Last</span>
				</div>

			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/products/}]]";
	}
	
</script>
</html>
